input.ng-invalid.ng-touched{
    border-bottom: 2px solid rgb(255, 0, 0);
}
input.ng-valid.ng-touched{
    border-bottom: 2px solid lightgreen;
}

.error{
    color: red;
    font-size: 90%;
    margin: 0 0 0 10px;
}