
<div class="card mb-3 shadow" >
    <div class="row g-0">
      <figure class=" col-md-4 mt-3">
        <img [src]="unUser.image" class=" col-md-10 rounded-start shadow" [alt]="unUser.username">
      </figure>
      <div class="col-md-8">
        <div class="card-body">
          <div class="text-center h1 mt-2">
            <span class="card-title">{{unUser.first_name}}</span>
            <span class="card-title"> {{unUser.last_name}}</span>
          </div>
          <hr>
          <p class="card-text"><b>Nombre Usuario:</b>  {{unUser.username}}</p>
          <p class="card-text"><b>Email:</b> {{unUser.email}}</p>
          <app-btn [container]="'view'" [idUser]="unUser._id"></app-btn>
        </div>
      </div>
    </div>
  </div>

  